{% extends "learning_logs/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Add a new entry</h2>   <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

{% endblock page_header %}

{% block content %}
  

  <form method="post" action="{% url 'learning_logs:new_entry' topic.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="Submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
  </form>
    
  {% endblock content %}